.write-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.write-wrap h2 {
    margin-bottom: 50px;
    font-size: 1.5rem;
    font-weight: bold;
}

.write-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.write-item {
    margin-bottom: 20px;
    width: 800px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.write-item input{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    padding: 20px;
}
.write-item textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.write-item textarea {
    height: 200px;
    resize: none;
}

.write-item input[type="submit"] {
    width: auto;
}

.write-btn {
    width: 100%;
    height: 50px;
    background: deepskyblue;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}

.write-btn button {
    color: white;
}